@{
    ViewData["Title"] = "About application";
}

<div class="text-center mt-3">
    <h1 class="display-4">XMLDocumentApp</h1>
    <p>With this application you can read, create, edit and delete XML documents. Also you can change the content of stored XML.</p>
</div>
